<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Akira Mart</h1>
      <p class="lead fw-normal text-white-50 mb-0">決済フォーム</p>
    </div>
  </div>
</header>
<div class="mt-5 container">
  <main>
    <% if flash[:alert].present? %>
      <div class="mt-4 alert alert-warning text-center">
        <% flash[:alert].each do |message| %>
          <p><%= " - #{message} -" %></p>
        <% end %>
      </div>
    <% end %>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">カートの商品</span>
          <span class="badge bg-primary rounded-pill"><%= current_products_in_cart.length %></span>
        </h4>
        <ul class="list-group mb-3">
          <% @product_per_groups.each do |product, num_of_pieces| %>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div class="d-flex flex-column text-start" style="width: 40%;">
                <h6 class="my-0"><%= product.name %></h6>
                <small class="text-body-secondary"><%= product.description.slice(0..14) %></small>
                <div class="dropdown text-end">
                  <button class="btn btn-link dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black; text-decoration: none;">
                    <%= num_of_pieces %>
                  </button>
                  <ul class="dropdown-menu">
                    <% (1..num_of_pieces).each_with_index do |_v, i| %>
                      <li><%= link_to "#{i}", products_cart_product_path(product.id, params: { num_of_pieces: num_of_pieces - i }), data: { turbo_method: :delete }, class: 'dropdown-item' %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div>
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#productImageModal-<%= product.id %>">
                  <% if product.image.attached? %>
                    <%= image_tag product.image.variant(resize:'75', gravity: :center, crop:'75x50+0+0').processed, class: "rounded float-start" %>
                  <% else %>
                    <%= image_tag 'no_image-75x50.jpg' %>
                  <% end %>
                </button>
              </div>
              <div class="d-flex flex-column text-end">
                <span class="text-body-secondary"><%= "x#{num_of_pieces}個" %></span>
                <span class="text-body-secondary"><%= "#{product.price}円" %></span>
                <%= link_to '削除', products_cart_product_path(product.id, params: { num_of_pieces: num_of_pieces }), data: { turbo_method: :delete }, class: 'btn btn-link btn-sm' %>
              </div>
            </li>
            <!--画像用モーダル-->
            <div class="modal fade" id="productImageModal-<%= product.id %>" tabindex="-1" aria-labelledby="productImageModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-body text-center">
                    <% if product.image.attached? %>
                      <%= image_tag product.image.variant(resize:'765', gravity: :center, crop:'765x510+0+0') %>
                    <% else %>
                      <%= image_tag 'no_image-450x300.jpg', size: "765x510" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% if @current_cart.promotion_code.present? %>
            <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
              <div class="text-success">
                <h6 class="my-0">プロモーションコード</h6>
                <small>
                  <%= @current_cart.promotion_code.code %>
                </small>
              </div>
              <div class="text-success d-flex flex-column text-end">
                <span class="text-success"><%= "-#{@current_cart.promotion_code.discount}円" %></span>
                <%= link_to '削除', products_cart_promotion_code_path(@current_cart.id), data: { turbo_method: :delete }, class: 'btn btn-link btn-sm' %>
              </div>
            </li>
          <% end %>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (JPY)</span>
            <strong><%= "#{@cart_amount}円" %></strong>
          </li>
        </ul>
        <%= form_tag products_cart_promotion_code_path(@current_cart.id), method: :patch do %>
          <div class="input-group">
            <%= text_field_tag :code, '', { maxlength: 7, placeholder: 'Promo Code', class: 'form-control' } %>
            <%= submit_tag 'Redeem', class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">請求先住所</h4>
        <% if session[:buyer_info_id].blank? %>
          <%= render partial: 'checkout/purchase_histories/new', locals: { path: checkout_purchase_histories_path, buyer_info: @buyer_info } %>
        <% else %>
          <%= render partial: 'checkout/purchase_histories/new', locals: { path: checkout_purchase_history_path(session[:buyer_info_id]), buyer_info: @buyer_info } %>
        <% end %>
      </div>
    </div>
  </main>
</div>
