<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Akira Mart</h1>
      <p class="lead fw-normal text-white-50 mb-0">決済フォーム</p>
      <h2><%= @test %></h2>
    </div>
  </div>
</header>
<div class="mt-5 container">
  <main>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">カートの商品</span>
          <span class="badge bg-primary rounded-pill"><%= current_products_in_cart.length %></span>
        </h4>
        <ul class="list-group mb-3">
          <% @product_per_groups.each do |product, num_of_pieces| %>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div class="d-flex flex-column text-start" style="width: 40%;">
                <h6 class="my-0"><%= product.name %></h6>
                <small class="text-body-secondary"><%= product.description.slice(0..14) %></small>
                <div class="dropdown text-end">
                  <button class="btn btn-link dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black; text-decoration: none;">
                    <%= num_of_pieces %>
                  </button>
                  <ul class="dropdown-menu">
                    <% (1..num_of_pieces).each_with_index do |_v, i| %>
                      <li><%= link_to "#{i}", products_cart_product_path(product.id, params: { num_of_pieces: num_of_pieces - i }), data: { turbo_method: :delete }, class: 'dropdown-item' %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div>
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#productImageModal-<%= product.id %>">
                  <% if product.image.attached? %>
                    <%= image_tag product.image.variant(resize:'75', gravity: :center, crop:'75x50+0+0').processed, class: "rounded float-start" %>
                  <% else %>
                    <%= image_tag 'no_image-75x50.jpg' %>
                  <% end %>
                </button>
              </div>
              <div class="d-flex flex-column text-end">
                <span class="text-body-secondary"><%= "x#{num_of_pieces}個" %></span>
                <span class="text-body-secondary"><%= "#{product.price}円" %></span>
                <%= link_to '削除', products_cart_product_path(product.id, params: { num_of_pieces: num_of_pieces }), data: { turbo_method: :delete }, class: 'btn btn-link btn-sm' %>
              </div>
            </li>
            <!--画像用モーダル-->
            <div class="modal fade" id="productImageModal-<%= product.id %>" tabindex="-1" aria-labelledby="productImageModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-body text-center">
                    <% if product.image.attached? %>
                      <%= image_tag product.image.variant(resize:'765', gravity: :center, crop:'765x510+0+0') %>
                    <% else %>
                      <%= image_tag 'no_image-450x300.jpg', size: "765x510" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (JPY)</span>
            <strong><%= "#{@cart_amount}円" %></strong>
          </li>
        </ul>
        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">請求先住所</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">苗字</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-sm-6">
              <label for="lastName" class="form-label">名前</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
            <div class="col-12">
              <label for="username" class="form-label">ユーザーネーム</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="username" placeholder="Username" required>
                <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
            </div>
            <div class="col-12">
              <label for="email" class="form-label">メールアドレス</label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
            <div class="col-12">
              <label for="address" class="form-label">住所1</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
            <div class="col-12">
              <label for="address2" class="form-label">住所2</label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>
            <div class="col-md-5">
              <label for="country" class="form-label">国</label>
              <select class="form-select" id="country" required>
                <option value="">選択...</option>
                <option>日本</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>
            <div class="col-md-4">
              <label for="state" class="form-label">都道府県</label>
              <select class="form-select" id="state" required>
                <option value="">選択...</option>
                <option>北海道</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
            <div class="col-md-3">
              <label for="zip" class="form-label">郵便番号</label>
              <input type="text" class="form-control" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>
          <hr class="my-4">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="same-address">
            <label class="form-check-label" for="same-address">請求先の住所は配送先の住所と一緒です</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info">
            <label class="form-check-label" for="save-info">次回もこの情報を使用する</label>
          </div>
          <hr class="my-4">
          <div class="row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label">カード名義人</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required>
              <small class="text-body-secondary">カードの名義フルネーム</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>
            <div class="col-md-6">
              <label for="cc-number" class="form-label">カード番号</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required>
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>
            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">有効期限</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>
            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div>
          <hr class="my-4">
          <button class="mb-5 w-100 btn btn-primary btn-lg" type="submit">購入する</button>
        </form>
      </div>
    </div>
  </main>
</div>
