<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Akira Mart</h1>
      <p class="lead fw-normal text-white-50 mb-0">商品管理画面</p>
    </div>
  </div>
</header>
<div class="container">
  <% if flash[:notice].present? %>
    <p class="mt-4 alert alert-success text-center"><%= flash[:notice] %></p>
  <% end %>
  <table class="my-5 table table-hover">
    <thead class="sticky-top bg-white">
      <tr>
        <th scope="col">商品ID</th>
        <th scope="col">商品名</th>
        <th scope="col">商品価格</th>
        <th scope="col">作成日</th>
        <th scope="col">更新日</th>
        <th class="px-4" scope="col">画像</th>
        <th class="px-3" scope="col">操作</th>
        <th scope="col"><%= link_to '商品作成', new_admin_product_path, class: 'btn btn-primary' %></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <th class="align-middle"><%= product.id %></td>
          <td class="align-middle"><%= product.name %></td>
          <td class="align-middle"><%= "#{product.price}円" %></td>
          <td class="align-middle"><%= product.created_at.to_formatted_s(:datetime_jp) %></td>
          <td class="align-middle"><%= product.updated_at.to_formatted_s(:datetime_jp) %></td>
          <td class="align-middle">
            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#productImageModal-<%= product.id %>">
              <% if product.image.attached? %>
                <%= image_tag product.image.variant(resize:'75', gravity: :center, crop:'75x50+0+0').processed, class: "rounded float-start" %>
              <% else %>
                <%= image_tag 'no_image-75x50.jpg' %>
              <% end %>
            </button>
          </td>
          <td class="align-middle" colspan="2">
            <%= link_to '編集', edit_admin_product_path(product.id), class: 'm-2 btn btn-primary' %>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticDeleteBackdrop-<%= product.id %>">削除</button>
          </td>
        </tr>
        <!-- 画像モーダル -->
        <div class="modal fade" id="productImageModal-<%= product.id %>" tabindex="-1" aria-labelledby="productImageModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-body text-center">
                <% if product.image.attached? %>
                  <%= image_tag product.image.variant(resize:'765', gravity: :center, crop:'765x510+0+0') %>
                <% else %>
                  <%= image_tag 'no_image-450x300.jpg', size: "765x510" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!-- 削除確認モーダル -->
        <div class="modal fade" id="staticDeleteBackdrop-<%= product.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">削除の確認</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= "商品ID:#{product.id} #{product.name}を削除しますか？" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <%= link_to '削除', admin_product_path(product.id), data: { turbo_method: :delete }, class: 'm-2 btn btn-danger' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </tbody>
  </table>
</div>
